/* CSS adjustments for dropdown */
:root {
  --color-primary: #ff4e2f;
  --color-background: #343950; /* Fondo oscuro */
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav {
  padding: 10px 30px 0;
  margin: auto;
}

nav > :is(h1, .cartComponent) {
  width: 34px;
  height: 34px;
  display: grid;
  place-items: center;
}

nav h1 {
  background: #343950;
  border-radius: 8px;
  font-size: 16px;
}

nav .cartComponent {
  color: #fff;
  font-size: 20px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.menu {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 70px;
}

.menu li {
  display: inline-block;
  color: #999;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.menu li a {
  color: #343950;
}

.menu li:hover .submenu {
  height: auto;
  max-height: 200px; /* adjust as needed */
}

.menu > li:hover > a {
  color: #ff4e2f; /* Cambiar el color del texto al hacer hover */
}

.menu > li:hover > a::before {
  visibility: visible;
  scale: 1 1;
}

.submenu {
  overflow: hidden;
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--color-primary);
  height: 0;
  line-height: 40px;
  box-sizing: border-box;
  transition: height 0.3s ease-in-out;
}

.menu li .submenu a {
  color: #fff;
  opacity: 0;
  transition: opacity 0.25s;
}

.menu > li:hover .submenu a {
  opacity: 1;
}

.menu > li .submenu a:hover {
  background: rgba(0, 0, 0, 0.2);
}

.menu > li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 7px;
  text-decoration: none;
  position: relative;
  height: 100%;
  transition: 0.3s;
}

.menu > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 3px;
  left: 0px;
  background-color: var(--color-primary);
  transition: all 0.2s ease-in-out;
  scale: 0 0;
  visibility: hidden;
}

.cartComponent {
  position: absolute;
  right: 0;
  top: 0;
}

.cartComponent .cartNumber {
  position: absolute;
  top: -10px;
  right: -10px;
}

.cartNumber {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ff8a67;
  border-radius: 10px;
  height: 20px;
  width: 25px;
  text-align: center;
  cursor: pointer;
}

.custom-dropdown {
  background-color: black !important; 
  color: white; 
  font-family: 'YourCustomFont', sans-serif;
}

.custom-dropdown .dropdown-item {
  color: black;
}

.custom-dropdown .dropdown-item:hover {
  background-color: #f1f1f1; 
}